<div class="mat-elevation-z2 list">
  <!--
    <thead>
      <tr>
        <th role="listitem">MatchedObjectId</th>
        <th role="listitem">job.OrganizationName</th>
        <th role="listitem">job.PositionTitle</th>
        <th role="listitem">job.PositionURI</th>
        <th role="listitem">job.PositionStartDate</th>
        <th role="listitem">job.PositionEndDate</th>
        <th role="listitem">job.PositionLocationDisplay</th>
      </tr>
    </thead>
  -->
  <div><table-basic-example [jobs]="jobs"></table-basic-example></div>
  <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
</div>
