form {
  position: relative;
}
input {
  border: 1px solid grey;
  text-align: left;
  padding: 18px;
  font-size: 1rem;
  display: inline-block;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
#input-query {
  border-radius: 1.8rem 0 0 1.8rem;
  background-color: white;
  width: 40%;
}
#search-now {
  border-radius: 0 5px 5px 0;
  width: 6rem;
  background-color: gainsboro;
  margin-left: 2px;
  outline: none;
}
#search-now:active {
  box-shadow: 0 0 5px 0.15em darkgreen;
  transition: 0s box-shadow 0s;
}
mat-icon {
  /* position: absolute; */
  position: absolute;
}
