.app {
  text-align: center;
  height: 40vh;
  background: rgba(35, 72, 83);
  position: relative;
  top: 25vh;
  transition: all 0.25s;
}
img {
  position: absolute;
  z-index: 1;
}
h1 {
  display: inline-block;
  font-size: 3rem;
}
h1:first-child {
  color: darkorange;
}
h1:nth-child(2) {
  color: lightyellow;
}
h1:nth-child(3) {
  color: white;
}

.searching {
  top: 0vh;
}
#err {
  position: fixed;
  bottom: 20vh;
  width: 100%;
  left: 0;
  color: red;
  font-size: 2rem;
}
